/.metadata/
/TD3/lab_swingbasics/samples/HelloWorldSwing/dist/
/TD3/lab_swingbasics/samples/SwingApplication/dist/
/TD3/lab_swingbasics/samples/CelsiusConverter/dist/
/TD3/lab_swingbasics/samples/CelsiusConverter2/dist/
/TD3/lab_swingbasics/samples/LunarPhases/dist/
/TD3/lab_swingbasics/samples/VoteDialog/dist/
